<!--<h1>Editing Euro Exchange Rate</h1>-->

<!--<%= render 'form', euro_exchange_rate: @euro_exchange_rate %>-->

<!--<%= link_to 'Show', @euro_exchange_rate %> |-->
<!--<%= link_to 'Back', euro_exchange_rates_path %>-->
